<div class="page-logo">
	<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
		<img src="{{ asset('img/logo.png')}}" alt="APP_NAME" aria-roledescription="logo">
		<span class="page-logo-text mr-1">APP_NAME</span>
		<span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">app-flavor-subscript</span>
{#		{#}{#if appShortcutModal}} #}
{#		<i class="{{iconPrefix}} fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>#}
{#		{{/if}}#}
	</a>
</div>