<ul id="js-nav-menu" class="nav-menu">
	<li >
		<a href="#" title="Application Intel" data-filter-tags="application intel">
			<i class="{{iconPrefix}} fa-info-circle"></i>
			<span class="nav-link-text" data-i18n="nav.application_intel">Application Intel</span>
		</a>
		<ul>
			<li >
				<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
					<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Introduction</span>
				</a>
			</li>
			<li >
				<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Privacy</span>
				</a>
			</li>
		</ul>
	</li>
	<li >
		<a href="#" title="Theme Settings" data-filter-tags="theme settings">
			<i class="{{iconPrefix}} fa-cog"></i>
			<span class="nav-link-text" data-i18n="nav.theme_settings">Theme Settings</span>
		</a>
		<ul>
			<li >
				<a href="settings_how_it_works.html" title="How it works" data-filter-tags="theme settings how it works">
					<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">How it works</span>
				</a>
			</li>
		</ul>
	</li>
	<li class="nav-title">Tools & Components</li>
	<li>
		<a href="#" title="UI Components" data-filter-tags="ui components">
			<i class="{{iconPrefix}} fa-window"></i>
			<span class="nav-link-text" data-i18n="nav.ui_components">UI Components</span>
		</a>
		<ul>
			<li>
				<a href="ui_alerts.html" title="Alerts" data-filter-tags="ui components alerts">
					<span class="nav-link-text" data-i18n="nav.ui_components_alerts">Alerts</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
