{% extends "base.html.twig" %}


{% block body %}


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
    {% endif %}
    <br><br>
    dada
    asasdd
    a
    asdas <br>
    rfe <br>
    sdadds <br>
    asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>asdas <br>
    rfe <br>
    sdadds <br>
{% endblock %}