<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/_head.html.twig' %}

    {#		{{!-- Optional: page related CSS --}}#}
    {#		{#}{#>head-block}}{{/head-block}}#}


{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}


</head>
<body class="mod-bg-1 mod-nav-link { preemptiveclass}">

{#		{{!-- save-settings-script --}}#}
{% include 'include/_scripts-loading-saving.html.twig' %}

<!-- BEGIN Page Wrapper -->
<div class="page-wrapper">

    <div class="page-inner">

        {% include "include/_left-panel.html.twig" %}

        <div class="page-content-wrapper">

            {#					{{> include/_page-header }}#}

            <!-- BEGIN Page Content -->
            <!-- the #js-page-content id is needed for some plugins to initialize -->
            <main id="js-page-content" role="main" class="page-content">
                {#                        {#}{#if preemptiveclass}}#}
                <!-- Page heading removed for composed layout -->
                {#                        {{else}}#}
                {#                            {{> include/_page-breadcrumb }}#}
                <div class="subheader">
                    {#                                {{> include/_page-heading }}#}
                    {#                                {#}{#> subheader-block}}{{/subheader-block}}#}
                </div>
                {#                        {{/if}}#}
                {#                        {#}{#>content-block}}{{/content-block}}#}
                {% block body %}{% endblock %}

            </main>
            {#					{{> include/_page-content-overlay }}#}
            {#					<!-- END Page Content -->#}

            {#					{{> include/_page-footer }}#}

            {#					{{> include/_shortcut-modal }}#}

            {% include 'include/_color-profile-reference.html.twig'  %}

        </div>
    </div>
</div>

<!-- END Page Wrapper -->

{#		{{> include/_shortcut-menu }}#}
{#		#}
{#		{{> include/_shortcut-messenger }}#}

{#		{{> include/_page-settings }}#}

{#		{{!-- Google Analytics  code if GOOGLE_ANALYTICS_ID id available --}}#}
{#		{{> include/_google_analytics }}#}
{#		#}

{% include 'include/_scripts-base-plugins.html.twig' %}

{#		{#}{#>scripts-block}}#}
{#			{{!-- Custom scripts per page can be added. --}}#}
{#		{{/scripts-block}}#}
</body>
</html>